* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 25px 0 50px;
  background-color: rgb(30, 37, 43);
}

.list {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 12px 28px;
  border-radius: 8px;
  border: 1px solid rgb(255, 110, 48);
  background-color: rgb(255, 110, 48);
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}

.btn:focus, .btn:hover, .btn:active {
  border: 1px solid rgb(255, 110, 48);
  background: transparent;
}

.btn_transparent {
  border: 1px solid transparent;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.55);
}

.btn_transparent:focus, .btn_transparent:hover, .btn_transparent:active {
  color: rgba(255, 255, 255, 0.9);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 108px;
}
header .nav__list {
  display: flex;
  gap: 50px;
}
header .nav__list .select-svg {
  stroke: rgba(255, 255, 255, 0.9);
  stroke-opacity: 0.55;
}
header .nav__item-link {
  color: rgba(255, 255, 255, 0.55);
}
header .nav__item-link_select {
  display: flex;
  gap: 5px;
  align-items: center;
}
header .nav__item-link:focus, header .nav__item-link:hover, header .nav__item-link:active {
  color: rgba(255, 255, 255, 0.9);
}
header .nav__item-link:focus .select-svg, header .nav__item-link:hover .select-svg, header .nav__item-link:active .select-svg {
  stroke-opacity: 1;
}

main {
  margin-block: 105px 200px;
}

.hero {
  background: right/contain no-repeat url("../images/Illustration.png");
  margin-left: 108px;
}
.hero__container {
  max-width: 600px;
}
.hero__textbox {
  margin-bottom: 110px;
}
.hero__title {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.9);
}
.hero__descr {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.66;
  color: rgba(255, 255, 255, 0.55);
}
.hero__input {
  display: flex;
  align-items: center;
  max-width: 500px;
  padding: 8px;
  justify-content: space-between;
  background-color: rgb(40, 48, 54);
  border: none;
  border-radius: 15px;
}
.hero__input-box {
  display: flex;
  gap: 5px;
  margin-left: 10px;
}
.hero__input-box input {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.9);
}
.hero__input-field {
  width: 300px;
}
.hero__social-links {
  display: flex;
  gap: 30px;
}
.hero__social-links .social-link-icon {
  fill: white;
}
.hero__social-links .social-link-icon:focus, .hero__social-links .social-link-icon:hover, .hero__social-links .social-link-icon:active {
  fill: rgb(255, 110, 48);
}

.tools__textbox, .tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools {
  margin: 200px 108px 0 108px;
}
.tools__btn {
  padding: 17px 38px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgb(255, 110, 48);
}
.tools__list {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 100px;
}
.tools__textbox {
  max-width: 455px;
  gap: 25px;
  margin-bottom: 90px;
}
.tools__title {
  font-size: 48px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}
.tools__descr {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.55);
}
.tools__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 392px;
  max-height: 294px;
  padding: 33px;
  border: 1px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.tools__item-title {
  margin-bottom: 3px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}
.tools__item-subtitle {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 165, 55, 0.55);
}
.tools__item-descr {
  line-height: 1, 875;
  color: rgba(255, 255, 255, 0.55);
}
.tools__item-top-container {
  display: flex;
  gap: 30px;
}
.tools__item-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tools .add-svg {
  fill: "#1E252B";
}
.tools .bg-like {
  fill: white;
  fill-opacity: 0.38;
}
.tools .tools__item:focus, .tools .tools__item:hover, .tools .tools__item:active {
  background-color: rgba(40, 48, 54, 0.6);
  transform: translateY(-20px);
}
.tools .tools__item:focus .bg-svg, .tools .tools__item:hover .bg-svg, .tools .tools__item:active .bg-svg {
  fill: rgb(40, 48, 54);
}
.tools .tools__item:focus .btn_transparent, .tools .tools__item:hover .btn_transparent, .tools .tools__item:active .btn_transparent {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(255, 110, 48);
}
.tools .tools__item:focus .btn_transparent:focus, .tools .tools__item:focus .btn_transparent:hover, .tools .tools__item:focus .btn_transparent:active, .tools .tools__item:hover .btn_transparent:focus, .tools .tools__item:hover .btn_transparent:hover, .tools .tools__item:hover .btn_transparent:active, .tools .tools__item:active .btn_transparent:focus, .tools .tools__item:active .btn_transparent:hover, .tools .tools__item:active .btn_transparent:active {
  border: 1px solid rgb(255, 110, 48);
  background: transparent;
}
.tools .tools__item:focus .like-svg:focus .bg-like, .tools .tools__item:focus .like-svg:hover .bg-like, .tools .tools__item:focus .like-svg:active .bg-like, .tools .tools__item:hover .like-svg:focus .bg-like, .tools .tools__item:hover .like-svg:hover .bg-like, .tools .tools__item:hover .like-svg:active .bg-like, .tools .tools__item:active .like-svg:focus .bg-like, .tools .tools__item:active .like-svg:hover .bg-like, .tools .tools__item:active .like-svg:active .bg-like {
  fill: rgb(253, 59, 65);
  fill-opacity: 1;
}

.footer {
  margin: 0 108px 50px;
  padding: 55px 82px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0);
  background-image: radial-gradient(circle closest-corner at top left, rgb(255, 110, 48), rgba(44, 53, 61, 0.2));
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.footer__title {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */